/* THIS CSS SPREADSHEET IS USED FOR THE SECOND WEBSITE RENDERING*/
/* HOME | ABOUT ME PAGE CSS RENDERING START*/
.topnav{
    opacity: 0.95;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    width: 85%;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 25px 10px 25px;
    position: fixed;
    /*border-bottom: 1px solid grey; /* DELETE WHEN DONE ... ONLY USING TO SEE NAV BORDER */

}
/* NAV BUTTON SECTION STARTS ... FOCUSING ON THE ACTUAL BUTTONS */
nav{
    float: right;
    margin-top: -47px;
}
nav ul{
    list-style: none;
    margin: 0;
}
nav li{
    display: inline-block;
    text-align: center;
    margin-left: 30px;
}
nav a{
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    color: rgb(33, 48, 58);
}
nav a:hover{
    color: rgb(10, 128, 206);
}
/* END OF NAV BUTTON SECTION */


/* PORTFOLIO OWNER SECTION STARTS ALSO KNOWN AS THE NAME AND OCCUPATION*/
.portfolio-owner{
    font-weight: 600;
    font-size: 26.5px;
    color: rgb(33, 48, 58);
}
.portfolio-owner::before{
    content: "";
    display: block;
    background: rgb(33, 48, 58);
    width: 17px;
    height: 17px;
    border-radius: 5px;
    float: left;
    margin-top: 7.5px;
    margin-right: 5px;
}
.portfolio-owner::after{
    content: " / COLLEGE STUDENT";
    color: rgb(45, 58, 68);
    font-size: 20px;
    font-style: italic
}
/* END OF PORTFOLIO OWNER SECTION */

/* START OF ABOUT ME SECTION */
.flex-container{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 200px;
    align-items: center;
}
.flex-left{
    content: "";
    display: block;
    background: rgb(33, 48, 58);
    height: 800px;
    width: 620px;
    margin-top: 825px;
    margin-left: -10px;
    max-width: 700px;
}
.flex-middle{
    content: "";
    display: block;
    background: rgb(45, 58, 68);
    height: 550px;
    width: 400px;
    margin-top: 800px;
    margin-left: -300px;
}
img{
    margin-left: 120px;
    margin-top: 20px;
    border-radius: 50%;
    height: 50%
}
#card-name{
    text-align: center;
    color: rgb(255, 255, 255);
}
#card-line{
    text-align: center;
    color: rgb(255, 255, 255);
}
#card-title{
    text-align: center;
    margin-top: 35px;
    color: rgb(255, 255, 255);
}
#hello{
    margin-top: 840px;
    margin-left: 40px;
    font-size: 145px;
    color: rgb(0, 0, 0);
}
#hello-sub{
    margin-left: 40px;
    margin-top: -95px;
    font-size: 22px;
    color: rgb(0, 0, 0);
}
.abt-res-btn{
    background: rgb(45, 58, 68);
    font-style: bold;
    padding: 10px 45px;
    font-size: 17px;
    border-radius: 17px;
    text-align: center;
    margin-left: 40px;
    border: none;
}
a.abt-res-btn:link{
    color: rgb(255, 255, 255);
    font-style: bold;
    text-decoration: none;
}
a.abt-res-btn:visited{
    color: rgb(255, 255, 255);
    font-style: bold;
}
a.abt-res-btn:hover{
    color: rgb(45, 58, 68);
    transition: all 0.3s ease;
    background: none;
    border: 2px solid rgb(45, 58, 68);
}
.abt-proj-btn{
    background: none;
    font-style: bold;
    padding: 10px 45px;
    font-size: 17px;
    border-radius: 17px;
    text-align: center;
    margin-left: 40px;
    border: 2px solid rgb(45, 58, 68);
}
a.abt-proj-btn:link{
    color: rgb(45, 58, 68);
    font-style: bold;
    text-decoration: none;
}
a.abt-proj-btn:visited{
    color: rgb(45, 58, 68);
    font-style: bold;
    text-decoration: none;
}
a.abt-proj-btn:hover{
    font-style: bold;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background: rgb(45, 58, 68);
    border: 2px solid rgb(45, 58, 68);
}
.intro-paragraph{
    max-width: 500px;
    margin-left: 40px;
    margin-top: 35px;
    color: rgb(0, 0, 0);
}
/* END ABOUT SECTION */

/* START FOOTER SECTION */
.footer{
    margin: 0 auto;
    width: 85%;
    margin-top: 100vh;
    padding: 0px 25px 10px 25px;
}
.copyright{
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    color: rgb(33, 48, 58);
    text-align: left;
}
footer{
    float: right;
    margin-top: -47px;
}
footer ul{
    list-style: none;
    margin: 0;
}
footer li{
    display: inline-block;
    text-align: center;
}
.copyright-btn{
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(33, 48, 58);
    margin-left: 90px;
}
.call-copyright-btn{
    font-size: 14px;
    margin-left: 72px;
    margin-top: 5px;
}
a.call-copyright-btn:link{
    color: rgb(33, 48, 58);
    text-decoration: none;
}
.write-copyright-btn{
    font-size: 14px;
    margin-left: 35px;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
}
a.write-copyright-btn:link, a.write-copyright-btn:visited{
    color: rgb(33, 48, 58);
    text-decoration: none;
}
/* FOOTER ... START SOCIAL ICON */
.fa{
    font-size: 14px;
    width: 20px;
    text-decoration: none;
    color: rgb(33, 48, 58);
    margin-top: 5px;
}
.fa-instagram{
    margin-left: 25px;
}
/* END FOOTER SECTION */
body{
    padding: 0;
    max width: 700px;
}

/* HOME CSS RENDERING END */

/* RESUME CSS RENDERING START */

.resume-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    height: 200px;
}
.picture{
    content: "";
    display: block;
    position: fixed;
    background: rgb(33, 48, 58);
    height: 100vh;
    width: 50vw;
    width: 50%;
    margin-top: 102.8vh;
    right: 0;
}
.content{
    content: "";
    display: block;
    height: 100vh;
    width: 50vw;
    width: 50%;
    margin-top: 102.8vh;
}

#res-img{
    border-radius: 12px;
    z-index: 1;
    width: 50vh;
    height: 40vw;
    margin-top: 3%;
    margin-left: 25%;
}

.res-heading-left{
    display: block;
    background: rgb(45, 58, 68);
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
    left: 0px;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.res-heading-right{
    display: block;
    background: rgb(45, 58, 68);
    text-align: right;
    margin-right: 80px;
    padding: 10px;
    margin-left: 80px;
    color: rgb(255, 255, 255);
}
.content-box{
    margin-left: 80px;
    border-bottom: 1px solid rgb(45, 58, 68);
    margin-right: 150px;
}


.footer-resume{
    margin: 0 auto;
    width: 85%;
    margin-top: 207vh;
    padding: 10px 25px 10px 0px;
}
.res-copyright{
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(33, 48, 58);
    text-align: left;
    margin-right: 925px;
}


.res-btn{
    background: rgb(45, 58, 68);
    padding: 10px 45px;
    font-size: 17px;
    border-radius: 17px;
    text-align: center;
    margin-left: 30%;
    border: none;
}
a.res-btn:link{
    color: rgb(255, 255, 255);
    font-style: bold;
    text-decoration: none;
}
a.res-btn:visited{
    color: rgb(255, 255, 255);
    font-style: bold;
}
a.res-btn:hover{
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    background: none;
    border: 2px solid rgb(255, 255, 255);
}
