body{
    width: 100%;
}
.navigation{
    margin: 0 auto;
    width: 80%;
    padding: 50px 25px;
}
nav{
    float: right;
}
nav ul{
    list-style: none;
    margin: 0;
}
nav li{
    display: inline;
    text-align: center;
    margin-left: 2vw;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-size: 15px;
    color: black;
}
nav a:hover{
    color: blue;
}
.navigation::before{
    content: "Roy Alexander Urbina";
    font-size: 25px;
    color: black;
    font-weight: 600;
    float: left;
    padding-bottom: 25px;
}
.navigation::after{
    content: "/ COLLEGE STUDENT";
    color: grey;
    font-size: 25px;
    font-style: italic;
}
@media screen and (max-width: 600px) {
    nav li{
        display: block;
        margin-bottom: 10px;
    }
}
